<%include partials/header%>
<div class="d-flex flex-column justify-content-center">
    <div class="form-narrow form-align">
        <div class="form-title form-title-text">
            <span>Log In</span>
        </div>
        <div class="shadow p-3 mb-5 bg-white">
            <form action="/login" method="POST">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Email</span>
                    </div>
                    <input class="form-control" type="text" name="username" placeholder="email" autofocus required>    
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Password</span>
                    </div>
                    <input class="form-control" type="password" name="password" placeholder="password" required>
                </div>
                <button class="btn btn-block btn-lg btn-success">Login</button>
            </form>
            <div class="form-subtitle">
                <span>Don't have an account yet? </span><a href="/register">Sign Up</a>
            </div>
        </div>
    </div>
</div>

<%include partials/footer%>