<%include ../partials/header%>
	<div class="jumbotron">
		<div class="d-flex flex-row">
		<div class="container w-100 text-center">
			<div>
				<h1>Welcome to Yelp! Camp</h1>
			</div>
			<div>
				View hand-picked campgrounds from all over the world
			</div>
			<hr>
			<div>
				<a class="btn btn-success btn-lg" href="/campgrounds/new">Add New Campground</a>
			</div>
		</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<%campground.forEach((campground)=>{%>
				<div class="col-12 col-md-6">
					<div class="card h-100">
						<img class="card-img-top img-medium" src="<%=campground.image%>" alt="image.png">	
						<div class="card-body">
							<h5 class="card-title"><%=campground.name%></h5>
							<p class="card-text"><%=campground.description.substring(0,100)%>...</p>
							<a href="/campgrounds/<%=campground._id%>" class="btn btn-primary">More Info</a>
						</div>
					</div>
				</div>	
			<%})%>
		</div>
	</div>
	

<%include ../partials/footer%>