<%include ../partials/header%>

<div>
    <span>Write a new review</span>
</div>

<div>
    <form action="">
        <div>
            Rating: 
        </div>
        <div class="form-group">
            <textarea class="form-control" name="review[text]" id="" cols="30" rows="10" placeholder="Do not post a review if you work for the listed campground."></textarea>
        </div>
        <button class="btn btn-lg btn-success">Submit Review</button>
        <a class="btn btn-md btn-secondary" href="">Cancel</a>
    </form>
</div>

<%include ../partials/footer%>